streamlit
numpy
opencv-python-headless
webrtc_streamer(key=None, 
                video_transformer_factory=None, 
                client_settings=None, 
                async_transform=False, 
                **kwargs)

